.container-fluid {
    font-family: Comic Sans MS, Comic Sans;
    background-color: rgba(230, 220, 197, 0.5);
}

body {
    background: url(001categoriesbackground.jpg) repeat, center, center, fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    font-family: Comic Sans MS, Comic Sans;
    font-size: 28px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border: 6px solid #00683B;
    max-width: 1550px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(230, 220, 197, 0.4);
}
