body {
    background: url(indexbackground.jpg) no-repeat, center, center, fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-btn-info {
    font-size: 35px;
    background-color: rgba(103, 175, 127, 0.85);
    text-decoration: underline;
    text-decoration-style: wavy;
    font-family: Comic Sans MS, Comic Sans;
    width: 25%;
    color: #00683B;
    border: 3px solid #76612F;
    padding-bottom: 10px;
    margin-top: 20%;
    margin-left: 40%;
}

.btn-info {
    color: #00683B;
    text-decoration: none;
}

.container-fluid {
    font-family: Comic Sans MS, Comic Sans;
    background-color: rgba(230, 220, 197, 0.5);
}
