body {
  background: url(indexbackground002.jpg) no-repeat, center, center, fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 620px;
  padding: none;
  border: none;
  margin-top: 100px;
}

#fullnavbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  font-family: Comic Sans MS, Comic Sans;
  background: url(TIP-MoreIvyNavbar.png) repeat, center, center, fixed;
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 5px solid rgba(61, 38, 18, 0.85);
  border-radius: 10px;
}

.navbar-companyname {
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin: 12px 0px 0px 12px;
  display: inline;
  overflow: auto;
}

.dropdown-item {
  font-size: 20px;
}

#navbar-items {
  display: flex;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  margin: 17px 20px 0px 0px;
  max-width: max-content;
  max-height: max-content;
  overflow: auto;
}

.form-control{
  max-width: 300px;
  margin-right: 5px;
}

#searchbar {
  position: absolute;
  right: 0;
  margin: 15px 10px 0px 0px;
}

.navbar-list {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  max-width: max-content;
  max-height: max-content;
  margin: 2px 5px 0px 20px;
}

.btn-outline-success {
  background-image: url(indexbuttonbackdrop.png) no-repeat, center, center, fixed;
  border: 2px solid rgba(61, 38, 18, 0.85);
  text-decoration-color: rgba(61, 38, 18, 0.85);
  color: rgba(61, 38, 18, 0.85);
}

@media only screen and (max-width: 1250px) {
  .navbar-companyname {
    font-size: 20px;
    margin-top: 18px;
  }

  .nav-link {
    font-size: 17px;
    margin-left: 5px;
    margin-top: 20px;
  }

  .dropdown-item {
    font-size: 17px;
  }

  .form-control {
    max-width: 150px;
  }
}

@media only screen and (max-width: 1008px) {
  .navbar-companyname {
    font-size: 18px;
    margin-top: 19px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 23px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .form-control {
    max-width: 150px;
  }
}

@media only screen and (max-width: 918px) {
  .navbar-companyname {
    font-size: 14px;
    margin-top: 24px;
  }

  .nav-link {
    font-size: 12px;
    margin-left: 0px;
    margin-top: 24px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .form-control {
    max-width: 125px;
  }
}

.btn-btn-info {
  display: block;
  font-size: 35px;
  background: url(newindexbuttonv3.png) no-repeat, center, center, fixed;
  background-size: cover;
  text-decoration: underline;
  text-decoration-style: wavy;
  font-family: Comic Sans MS, Comic Sans;
  width: 450px;
  color: rgba(61, 38, 18, 0.8);
  border: 3px solid rgba(61, 38, 18, 0.85);
  padding-bottom: 10px;
  --bs-btn-hover-bg: #ee4b08;	
  --bs-btn-hover-border-color: #ee4b08;
  transition: background-color 2.0s ease-in;
  transition: box-shadow 1.0s ease-in;
  margin: auto;
  margin-top: 380px;
  margin-bottom: 450px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-btn-info:hover {
  background-color: rgba(103, 175, 127, 0.85);
  box-shadow: 5px 5px 10px rgba(144, 238, 144, 0.5);
}

.btn-info {
  color: rgba(61, 38, 18, 0.8);
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 300px;
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  font-family: Comic Sans MS, Comic Sans;
}

footer a {
  color: #999;
  text-decoration:none;
  font-family: Comic Sans MS, Comic Sans;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
  font-family: Comic Sans MS, Comic Sans;
}

footer .form-control {
  background-color: whitesmoke;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em;
  font-family: Comic Sans MS, Comic Sans;
}