.container-fluid {
    font-family: Comic Sans MS, Comic Sans;
    background-color: rgba(230, 220, 197, 0.5);
}

body {
    background: url(001categoriesbackground.jpg) no-repeat, center, center, fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.AutumnFernLink {
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 129px;
    background-color: rgba(103, 175, 127, 0.7);
    padding: 3px 6px 3px 6px;
}

#AutumnFernCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.Row1 {
    display: inline-table;
    margin-top: 10px;
    border-spacing: 75px 0px;
}