.container-fluid {
    font-family: Comic Sans MS, Comic Sans;
    background-color: rgba(230, 220, 197, 0.5);
}

body {
    background: url(001categoriesbackground.jpg) repeat, center, center, fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    max-width: fit-content;
}

.AutumnFernLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 30px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
}

#AutumnFernCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.categories {
    display: inline-table;
    margin-top: 10px;
    border-spacing: 75px 0px;
}


#ArecaPalmCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.ArecaPalmLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 129px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
}

#AustralGemCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.AustralGemLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 15px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content; 
}