body {
    background: url(TIP-testbackground-2.png) no-repeat, center, center, fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: none;
  padding: none;
  border: none;
  margin-bottom: 300px;
  margin-top: 100px;
}

#fullnavbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  font-family: Comic Sans MS, Comic Sans;
  background-color: rgba(144, 238, 144, 1.0);
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 5px solid rgba(61, 38, 18, 0.85);
  border-radius: 10px;
}

.navbar-companyname {
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin: 12px 0px 0px 12px;
  display: inline;
  overflow: auto;
}

.dropdown-item {
  font-size: 20px;
}

#navbar-items {
  display: flex;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  margin: 17px 20px 0px 0px;
  max-width: max-content;
  max-height: max-content;
  overflow: auto;
}

.form-control{
  max-width: 300px;
  margin-right: 5px;
}

#searchbar {
  position: absolute;
  right: 0;
  margin: 15px 10px 0px 0px;
}

.navbar-list {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  max-width: max-content;
  max-height: max-content;
  margin: 2px 5px 0px 20px;
}

.btn-outline-success {
  background-color: rgba(103, 175, 127, 0.5);
  border: 2px solid rgba(61, 38, 18, 0.85);
  text-decoration-color: rgba(61, 38, 18, 0.85);
  color: rgba(61, 38, 18, 0.85);
}

@media only screen and (max-width: 1250px) {
  .navbar-companyname {
    font-size: 20px;
    margin-top: 18px;
  }

  .nav-link {
    font-size: 17px;
    margin-left: 5px;
    margin-top: 20px;
  }

  .dropdown-item {
    font-size: 17px;
  }

  .form-control {
    max-width: 150px;
  }
}

@media only screen and (max-width: 1008px) {
  .navbar-companyname {
    font-size: 18px;
    margin-top: 19px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 23px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .form-control {
    max-width: 150px;
  }
}

@media only screen and (max-width: 918px) {
  .navbar-companyname {
    font-size: 14px;
    margin-top: 24px;
  }

  .nav-link {
    font-size: 12px;
    margin-left: 0px;
    margin-top: 24px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .form-control {
    max-width: 125px;
  }
}

h1 {
    max-width: fit-content;
    background-size: contain;
}

.AutumnFernLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: max-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 130px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
    background-size: auto;
}

#AutumnFernCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 20px 20px 40px;
}


#ArecaPalmCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.ArecaPalmLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: max-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 130px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
    background-size: auto;
    margin-bottom: 10px;
}

#AustralGemCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 20px 20px 40px;
}

.AustralGemLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: max-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 90px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
    background-size: auto;
}

#BegoniaMaculataCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 20px 20px 40px;
}

.BegoniaMaculataLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 95px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
}

#BegoniaRexVineCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 20px 20px 40px;
}

.BegoniaRexVineLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 87px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
}

#BirdsNestFern {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 20px 20px 40px;
}

.FernLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 80px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
}

.BromeliadLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 138px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
}

#Bromeliads {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 20px 20px 40px;
}

.CalisiaRepensLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 120px;
    padding: 0px 10px 7px 10px;
    max-height: fit-content;
}

#CalisiaRepens {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 20px 20px 40px;
}

.petfriendly {
    max-width: 460px;
    max-height: 492px;
}

#fullpetfriendlygrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 440px);
    grid-template-rows: max-content;
    gap: 5px;
    margin-top: 15px;
    justify-content: center;
    align-content: center;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 300px;
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  font-family: Comic Sans MS, Comic Sans;
}

footer a {
  color: #999;
  text-decoration:none;
  font-family: Comic Sans MS, Comic Sans;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
  font-family: Comic Sans MS, Comic Sans;
}

footer .form-control {
    background-color: whitesmoke;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
    font-family: Comic Sans MS, Comic Sans;
}

col-md-5 {
    margin-left: 40px;
}

#petcover {
  font-family: Comic Sans MS, Comic Sans;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.cover-picture {
  margin: 0px 25px 20px 20px;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1030px) {
  #petcover {
    font-size: 17px;
  }
}

@media only screen and (max-width: 936px) {
  #pagedescription {
    display: none;
  }
  
  .cover-picture {
    margin: auto;
    max-width: 100%;
    height: auto;
  }
}