body {
    background: url(001categoriesbackground.jpg) no-repeat, center, center, fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: none;
  padding: none;
  border: none;
    margin-bottom: 300px;
}

nav {
  font-family: Comic Sans MS, Comic Sans;
  background-color: rgba(144, 238, 144, 0.5);
}

.container-fluid {
  background-color: rgba(144, 238, 144, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand {
  font-size: 25px;
}

.nav-item {
  font-size: 18px;
}

drop-down {
  font-size: 16px;
}

.dropdown-item {
  font-size: 16px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 300px;
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  font-family: Comic Sans MS, Comic Sans;
}

footer a {
  color: #999;
  text-decoration:none;
  font-family: Comic Sans MS, Comic Sans;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
  font-family: Comic Sans MS, Comic Sans;
}

footer .form-control {
    background-color: whitesmoke;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
    font-family: Comic Sans MS, Comic Sans;
}

col-md-5 {
    margin-left: 40px;
}