body {
    background: url(001categoriesbackground.jpg) repeat, center, center, fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 300px;
}
          
nav {
    font-family: Comic Sans MS, Comic Sans;
    background-color: rgba(144, 238, 144, 0.5);
}

.container-fluid {
    background-color: rgba(144, 238, 144, 0.5);
}

#PetFriendlyCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.PetFriendlyHomeLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 129px;
    padding: 0px 6px 5px 6px;
    max-height: 42px;
}

#BrightLightPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.BrightHomeLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 74px;
    padding: 0px 6px 5px 6px;
}

h1 {
    max-width: fit-content;
}

#LowLightPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.LowLightPlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 94px;
    padding: 0px 6px 5px 6px;
}

.RarePlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 139px;
    padding: 0px 6px 5px 6px;
}

#RarePlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.BeginnerPlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 104px;
    padding: 0px 6px 5px 6px;
}

#BeginnerPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.ExpertPlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 119px;
    padding: 0px 6px 5px 6px;
}

#ExpertPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

#fullcategories {
    display: grid;
    grid-template-columns: repeat(auto-fill, 440px);
    grid-template-rows: max-content;
    margin: auto;
    gap: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 300px;
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  font-family: Comic Sans MS, Comic Sans;
}

footer a {
  color: #999;
  text-decoration:none;
  font-family: Comic Sans MS, Comic Sans;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
  font-family: Comic Sans MS, Comic Sans;
}

footer .form-control {
    background-color: whitesmoke;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
    font-family: Comic Sans MS, Comic Sans;
}

col-md-5 {
    margin-left: 40px;
}