body {
    background: url(001categoriesbackground.jpg) no-repeat, center, center, fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 300px;
  margin: none;
  padding: none;
  border: none;
  margin-top: 100px;
}

#fullnavbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
          
nav {
  font-family: Comic Sans MS, Comic Sans;
  background-color: rgba(144, 238, 144, 1.0);
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 5px solid rgba(61, 38, 18, 0.85);
  border-radius: 10px;
}

.navbar-companyname {
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin: 12px 0px 0px 12px;
  display: inline;
  overflow: auto;
}

.dropdown-item {
  font-size: 20px;
}

#navbar-items {
  display: flex;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  margin: 17px 20px 0px 0px;
  max-width: max-content;
  max-height: max-content;
  overflow: auto;
}

.form-control{
  max-width: 300px;
  margin-right: 5px;
}

#searchbar {
  position: absolute;
  right: 0;
  margin: 15px 10px 0px 0px;
}

.navbar-list {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  max-width: max-content;
  max-height: max-content;
  margin: 2px 5px 0px 20px;
}

.btn-outline-success {
  background-color: rgba(103, 175, 127, 0.5);
  border: 2px solid rgba(61, 38, 18, 0.85);
  text-decoration-color: rgba(61, 38, 18, 0.85);
  color: rgba(61, 38, 18, 0.85);
}

@media only screen and (max-width: 1250px) {
  .navbar-companyname {
    font-size: 20px;
    margin-top: 18px;
  }

  .nav-link {
    font-size: 17px;
    margin-left: 5px;
    margin-top: 20px;
  }

  .dropdown-item {
    font-size: 17px;
  }

  .form-control {
    max-width: 150px;
  }
}

@media only screen and (max-width: 1008px) {
  .navbar-companyname {
    font-size: 18px;
    margin-top: 19px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 23px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .form-control {
    max-width: 150px;
  }
}

@media only screen and (max-width: 918px) {
  .navbar-companyname {
    font-size: 14px;
    margin-top: 24px;
  }

  .nav-link {
    font-size: 12px;
    margin-left: 0px;
    margin-top: 24px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .form-control {
    max-width: 125px;
  }
}

#PetFriendlyCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.PetFriendlyHomeLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 129px;
    padding: 0px 6px 3px 6px;
    max-height: 38px;
}

#BrightLightPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.BrightHomeLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 74px;
    padding: 0px 6px 5px 6px;
}

h1 {
    max-width: fit-content;
}

#LowLightPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.LowLightPlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 94px;
    padding: 0px 6px 5px 6px;
}

.RarePlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 139px;
    padding: 0px 6px 5px 6px;
}

#RarePlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.BeginnerPlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 60px;
    padding: 0px 6px 5px 6px;
}

#BeginnerPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.ExpertPlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 75px;
    padding: 0px 6px 5px 6px;
}

#ExpertPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

#fullcategories {
    display: grid;
    grid-template-columns: repeat(auto-fill, 440px);
    grid-template-rows: max-content;
    margin-top: 15px;
    gap: 5px;
    justify-content: center;
    align-content: center;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 300px;
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  font-family: Comic Sans MS, Comic Sans;
}

footer a {
  color: #999;
  text-decoration:none;
  font-family: Comic Sans MS, Comic Sans;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
  font-family: Comic Sans MS, Comic Sans;
}

footer .form-control {
    background-color: whitesmoke;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
    font-family: Comic Sans MS, Comic Sans;
}

.carousel-control-prev {
  width: 40px;
  background-color: rgba(36, 36, 36, 0.75);
  height: 55px;
  margin-top: 180px;
}

.carousel-control-next {
  background-color: rgba(36, 36, 36, 0.75);
  height: 55px;
  margin-top: 180px;
  width: 40px;
}

.page-link-03 {
  background-color: rgba(103, 175, 127, 0.7);
  max-width: fit-content;
  font-size: 35px;
  font-family: Comic Sans MS, Comic Sans;
  text-decoration-style: wavy;
  color: #00683B;
  margin-left: 60px;
  padding: 0px 6px 5px 6px;
}

#MediumLightPlants {
  width: 400px;
  max-height: 400px;
  font-family: Comic Sans MS, Comic Sans;
  font-size: 15px;
  margin: 10px 30px;
}

.page-link-07 {
  background-color: rgba(103, 175, 127, 0.7);
  max-width: fit-content;
  font-size: 35px;
  font-family: Comic Sans MS, Comic Sans;
  text-decoration-style: wavy;
  color: #00683B;
  margin-left: 45px;
  padding: 0px 6px 5px 6px;
}

#IntermediateLevelPlants {
  width: 400px;
  max-height: 400px;
  font-family: Comic Sans MS, Comic Sans;
  font-size: 15px;
  margin: 10px 30px;
}