body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", Comic Sans;
  background-color: #f4f4f4;
}

section.hero {
  background: url(TIP-testbackground-3.png) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  font-family: Comic Sans MS, Comic Sans;
  background: url(TIP-MoreIvyNavbar.png) repeat, center, center, fixed;
  height: 80px;
  display: flex;
  flex-direction: row;
  border: 5px solid rgba(61, 38, 18, 0.85);
  position: relative;
  z-index: 2;
}

.navbar-companyname {
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin: 12px 0px 0px 12px;
  display: inline;
  overflow: auto;
}

.dropdown-item {
  font-size: 20px;
}

#navbar-items {
  display: flex;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-left: 20px;
  margin: 17px 20px 0px 0px;
  max-width: max-content;
  max-height: max-content;
  overflow: auto;
}

.form-control{
  max-width: 300px;
  margin-right: 5px;
}

#searchbar {
  position: absolute;
  right: 0;
  margin: 15px 10px 0px 0px;
}

.navbar-list {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  max-width: max-content;
  max-height: max-content;
  margin: 2px 5px 0px 20px;
}

.btn-outline-success {
  background-color: rgba(103, 175, 127, 0.5);
  border: 2px solid rgba(61, 38, 18, 0.85);
  text-decoration-color: rgba(61, 38, 18, 0.85);
  color: rgba(61, 38, 18, 0.85);
}

@media only screen and (max-width: 1250px) {
  .navbar-companyname {
    font-size: 20px;
    margin-top: 18px;
  }

  .nav-link {
    font-size: 17px;
    margin-left: 5px;
    margin-top: 20px;
  }

  .dropdown-item {
    font-size: 17px;
  }

  .form-control {
    max-width: 150px;
  }
}

@media only screen and (max-width: 1008px) {
  .navbar-companyname {
    font-size: 18px;
    margin-top: 19px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 23px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .form-control {
    max-width: 150px;
  }
}

@media only screen and (max-width: 918px) {
  .navbar-companyname {
    font-size: 14px;
    margin-top: 24px;
  }

  .nav-link {
    font-size: 12px;
    margin-left: 0px;
    margin-top: 24px;
  }

  .dropdown-item {
    font-size: 14px;
  }

  .form-control {
    max-width: 125px;
  }
}

.plant-list-full {
  font-size: 40px;
  font-family: Comic Sans MS, Comic Sans;
}

.plant-list-full li {
  margin: 12 px;
}

.footer {
  width: 100%;
  max-height: 300px;
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
  font-family: Comic Sans MS, Comic Sans;
  position: relative;
  z-index: 2;
}

footer a {
  color: #999;
  text-decoration:none;
  font-family: Comic Sans MS, Comic Sans;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
  font-family: Comic Sans MS, Comic Sans;
}

footer .form-control {
    background-color: whitesmoke;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
    font-family: Comic Sans MS, Comic Sans;
}

col-md-5 {
    margin-left: 40px;
}