body {
    background: url(001categoriesbackground.jpg) no-repeat, center, center, fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    font-family: Comic Sans MS, Comic Sans;
    background-color: rgba(230, 220, 197, 0.5);
}

#PetFriendlyCarousel {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.PetFriendlyHomeLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 135px;
    padding: 3px 6px 3px 6px;
}

#BrightLightPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.BrightHomeLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 80px;
    padding: 3px 6px 3px 6px;
}

h1 {
    max-width: fit-content;
}

.categories {
    display: inline-table;
    margin-top: 10px;
    border-spacing: 75px 0px;
}

#LowLightPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.LowLightPlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 100px;
    padding: 3px 6px 3px 6px;
}

.categoriesrowtwo {
    display: inline-table;
    border-spacing: 75px 0px;
}

.RarePlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 145px;
    padding: 3px 6px 3px 6px;
}

#RarePlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.BeginnerPlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 110px;
    padding: 3px 6px 3px 6px;
}

#BeginnerPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}

.ExpertPlantsLink {
    background-color: rgba(103, 175, 127, 0.7);
    max-width: fit-content;
    font-size: 35px;
    font-family: Comic Sans MS, Comic Sans;
    text-decoration-style: wavy;
    color: #00683B;
    margin-left: 125px;
    padding: 3px 6px 3px 6px;
}

#ExpertPlants {
    width: 400px;
    max-height: 400px;
    font-family: Comic Sans MS, Comic Sans;
    font-size: 15px;
    margin: 10px 30px;
}